#root{
  background-color: rgb(35, 35, 35);
}

.heading{
  text-align: center;
  font-size: 20px;
  background-color: rgb(133, 171, 167);
  height: 20px;
  margin: auto;
  padding: 20px;
}


.headingDiv{
  position:fixed;
  width: 100%;
}

.cardList{
  display: flex;
  flex-direction: left;
  padding: 25px;
  padding-top: 90px;
  flex-wrap: wrap;
  justify-content: center;
}

.container{

  background-color: rgb(133, 171, 167);
  height: 412px;
  width: 285px;
  border-radius: 20px;
  overflow: hidden;
  margin: 35px;
}

.container:hover{
  transform: scale(1.05,1.05);
  }

.cardIMG{
  height: 288px;
  width: 100%;
}

.cardSpan{
  padding-left: 10px;

}
.cardH{
  padding-left: 10px;
}
.cardA{
  padding-left: 10px;
}
.cardLink{
  font-family: 'Courier New', Courier, monospace;
}
.cardLink:hover{
  cursor: pointer;
}
.cardA:hover{
  cursor: pointer;
}